h1 
{
    padding: 40px;
}

.column {
    float: left;
    padding: 30px;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
}

row:after {
    content: "";
    display: table;
    clear: both;
}
.time {
    float:right;
    
   

}

.icon{
     width: 20px;

    height: 20px;
}